<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Chat</title>
</head>
<body>
    <div class="containerpes">
        <div class="headerdua">
            <div class="teksheader">Pesan</div>
        </div>
        <div class="isichat">
            <div class="foto">
                <img src="/image/prof.png" alt="foto tidak di temukan">
            </div>
            <div class="storychat">
                <div class="namaor">
                    <p>Saepul bahri</p>
                </div>
                <div class="cht">
                    <p>selamat berpusing ya guys</p>
                </div>
            </div>
        </div>
        <div class="isichat">
            <div class="foto">
                <img src="/image/prof.png" alt="foto tidak di temukan">
            </div>
            <div class="storychat">
                <div class="namaor">
                    <p>M. Saiful fahmi</p>
                </div>
                <div class="cht">
                    <p>selamat berpusing ya guys</p>
                </div>
            </div>
        </div>
        <div class="tombol">
            <div class="tombol1">
                <button type="submit" style="
                background-color: #F44336;"><a href="dashboard.html">Kembali</a></button>
            </div>
            <div class="tombol2">
                <button type="submit" style="
                background-color: #00E676;"><a href="">Selanjutnya</a></button>
            </div>
        </div>
    </div>
</body>
</html>