<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>dashboard</title>
</head>
<body>
    <div class="containerdash">
        <div class="header">
            <div class="headerleft">
                <h2>UKM TechCode</h2>
            </div>
            <div class="headerright">
                <div class="headsubright">
                    <div class="comment">
                        <a href="comment.go"><img src="image/chat.png" alt=""></a>
                    </div>
                    <div class="profile_user">
                        <a href="chat.go"><img src="image/profile.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="isi">
            <div class="dashboard">
                <div class="icondashboard">
                    <div class="logodashboard">
                        <img src="image/ukm3.png" alt="">
                    </div>
                    <span>Sistem Informasi<br> UKM Technology Code</span>
                </div>
                <div class="menu"><a href="dashboard.html">Galery</a></div>
                <div class="menu"><a href="dashboard.html">Contact</a></div>
                <div class="menu"><a href="dashboard.html">Anggota</a></div>
                <div class="menu"><a href="dashboard.html">Modul</a></div>
                <div class="menu"><a href="dashboard.html">Tentang</a></div>
            </div>
            <div class="isisub">
                <div class="diagram">
                    <div class="box12">
                        <div class="box">
                            <p>Software Web<br>
                            Software Desktop<br>
                            Software Android</p>
                        </div>
                        <div class="box">
                            <p>11 <br>orang</p>
                            <a href="anggota.html">lihat detail</a>
                        </div>
                    </div>
                    <div class="box2">
                        <p>diagram bahasa pemrograman</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>