<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Kontak</title>
</head>
<body>
    <div class="containerpes">
        <div class="headerdua">
            <div class="teksheader">Kontak</div>
        </div>
        <div class="boxcontainer">
            <div class="boxpembimbing">
                <div class="photos">
                    <span>Pembimbing</span>
                    <div class="imgfrofile">
                        <img src="/image/prof.png" alt="error">
                    </div>
                    <span>Hairul Fahmi S.Kom.,M.Kom.</span>
                </div>
                <div class="sosmed">
                    <div class="imgsosmed">
                        <div class="">
                            <img src="image/prof.png" alt="">
                        </div>
                        <span>082384782374</span>
                    </div>
                    <div class="imgsosmed">
                        <div class="">
                            <img src="image/prof.png" alt="">
                        </div>
                        <span>082384782374</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="boxcontainer">
            <div class="boxpengurus">
                <div class="photos">
                    <span>Ketua</span>
                    <div class="imgfrofile">
                        <img src="/image/prof.png" alt="error">
                    </div>
                    <span>Saepul Bahri</span>
                </div>
                <div class="sosmed">
                    <div class="imgsosmed">
                        <div class="">
                            <img src="image/prof.png" alt="">
                        </div>
                        <span>082384782374</span>
                    </div>
                    <div class="imgsosmed">
                        <div class="">
                            <img src="image/prof.png" alt="">
                        </div>
                        <span>082384782374</span>
                    </div>
                </div>
            </div>
            <div class="boxpengurus">
                <div class="photos">
                    <span>Sekretaris</span>
                    <div class="imgfrofile">
                        <img src="/image/prof.png" alt="error">
                    </div>
                    <span>Bq. Indri Astuti</span>
                </div>
                <div class="sosmed">
                    <div class="imgsosmed">
                        <div class="">
                            <img src="image/prof.png" alt="">
                        </div>
                        <span>082384782374</span>
                    </div>
                    <div class="imgsosmed">
                        <div class="">
                            <img src="image/prof.png" alt="">
                        </div>
                        <span>082384782374</span>
                    </div>
                </div>
            </div>
            <div class="boxpengurus">
                <div class="photos">
                    <span>Bendahara</span>
                    <div class="imgfrofile">
                        <img src="/image/prof.png" alt="error">
                    </div>
                    <span>Murizal</span>
                </div>
                <div class="sosmed">
                    <div class="imgsosmed">
                        <div class="">
                            <img src="image/prof.png" alt="">
                        </div>
                        <span>082384782374</span>
                    </div>
                    <div class="imgsosmed">
                        <div class="">
                            <img src="image/prof.png" alt="">
                        </div>
                        <span>082384782374</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tombol">
            <div class="tombol1">
                <button type="submit" style="
                background-color: #F44336;"><a href="dashboard.html">Kembali</a></button>
            </div>
            <div class="tombol2">
                <button type="submit" style="
                background-color: #00E676;"><a href="">Selanjutnya</a></button>
            </div>
        </div>
    </div>
</body>
</html>