<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="formstyle.css">
    <title>Tambah anggota</title>
</head>
<body>
    <div class="containerpes">
        <div class="headerdua">
            <div class="teksheader">Tambah Anggota</div>
        </div>
        <form action="">
            <label for=""></label>
            <input type="text" placeholder="nim" style="width:97%; height:25px">
            <br>
            <label for=""></label>
            <input type="text" placeholder="nama" style="width:97%; height:25px">
            <br>
            <label for="">Pilih Foto</label>
            <input type="file" placeholder="foto 3 x 4" >
            <br>
            <p>Pilih Jenis Kelamin</p>
            <input type="radio" name="jen_kelamin">
            <label for="">Laki-laki</label>
            <input type="radio" name="jen_kelamin">
            <label for="">Perempuan</label>
            <br>
            <label for=""></label>
            <input type="text" placeholder="alamat" style="width:97%; height:25px">
            <br>
            <label for=""></label>
            <input type="text" placeholder="nomor telepon" style="width:97%; height:25px">
            <br>
            <label for=""></label>
            <input type="text" placeholder="email"style="width:97%; height:25px">
            <br>
            <label for=""></label>
            <input type="text" placeholder="github" style="width:97%; height:25px">
            <br>
            <label for=""></label>
            <input type="text" placeholder="prodi" style="width:97%; height:25px">
            <br>
            <label for=""></label>
            <input type="text" placeholder="kelas" style="width:97%; height:25px">
            <br>
            <label for=""></label>
            <input type="text" placeholder="angkatan" style="width:97%; height:25px">
            <br>
            <div class="tombol">
                <div class="tombol1">
                    <button type="submit" style="
                    background-color: #F44336; width: 100px;"><a href="dashboard.html">Kembali</a></button>
                </div>
                <div class="tombol2">
                    <button type="submit" style="
                    background-color: #00E676;width: 100px;"><a href="">Selanjutnya</a></button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>